.categories {

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: .9375rem;
    margin: 1.25rem 0 1.875rem;

    li {
      color: var(--oneColor);
      padding: .625rem 1.5625rem;
      border-radius: .625rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .3s ease;

      &:hover {
        box-shadow: var(--twoBoxShadow);
      }
    }

    li.active {
      box-shadow: var(--twoBoxShadow);
    }
  }

  .search {
    color: var(--fourColor);
    display: inline-flex;
    align-items: center;
    gap: .9375rem;
    width: 18.75rem;
    height: 3.125rem;
    padding: .5rem 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: .625rem;
    box-shadow: var(--twoBoxShadow);

    input {
      font-size: 1.2rem;
      background: transparent;

      &:focus {
        color: var(--oneColor);
      }

      &::placeholder {
        color: var(--fourColor);
      }
    }
  }
}
